:root {
  --main-height: 80%;
  --main-top-margin: 4rem;
  --body-padding: 3rem;
  --title-height: 4rem;
  --social-icon-height: 60%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;

  /* For style debugging:
  border: 2px solid black;
  */
}

html {
  box-sizing: border-box;

  font-size: 62.5%;
}

body {
  height: 100vh;
  padding: var(--body-padding);

  font-family: "Verdana", sans-serif;
  background: linear-gradient(#87ceeb, #67baff);
  color: #1f47b5;
}

.title {
  display: block;
  text-align: center;
  height: var(--title-height);

  font-size: 5rem;
  font-weight: bold;
}

main {
  display: block;

  height: var(--main-height);
  width: 70%;
  margin: var(--main-top-margin) auto 0 auto;

  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  font-size: 2.5rem;
  text-align: center;
}

.instruction-text {
  display: block;
  position: relative;
  top: 1rem;
  margin-bottom: 1rem;
}

.selection-section {
  display: grid;

  grid-template-columns: repeat(4, 25%);
  word-wrap: break-word;

  position: relative;
  top: 1rem;
  margin: auto;
}

.selection-section p {
  text-align: left;
  margin-left: 1rem;
}

.number-system {
  font-size: 2rem;
}

.text-section {
  position: relative;
  top: 8%;
}

textarea,
.converted {
  display: block;
  width: 80%;
  height: 12rem;

  padding-left: 1rem;
  padding-top: 1rem;
  margin: auto;

  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: #f8f8f8;
  font-size: 2rem;
  resize: none;
}

.convert {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1rem;

  font-size: 2rem;
  background-color: #fff;
  color: #1f47b5;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.25);

  cursor: pointer;
  font-weight: bold;
}

.converted {
  color: black;
  text-align: left;
}

.hidden {
  opacity: 0;
}

.author {
  display: flex;
  gap: 2rem;
  height: calc(
    100vh - var(--body-padding) - var(--title-height) - var(--main-top-margin) -
      var(--main-height)
  );
  position: relative;
  bottom: 0;
}

.author-github,
.author-linkedin {
  height: 100%;
}

.social-icon {
  height: var(--social-icon-height);
  object-fit: cover;
  position: relative;
  top: calc(100% - var(--social-icon-height) - 20%);
}

/* Debugging
.author,
.author-github {
  border: 2px solid black;
} */
